.speech
{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 15px;
}

.song
{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
}

.direction
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: bisque;
    font-size: 15px;
}

.name
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 15px;
}

.name:hover
{
    background-color:blueviolet;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(245, 245, 248), 0 0 5px rgb(218, 235, 35);
    box-shadow: 10px 5px 5px rgb(237, 91, 206);
    color: blanchedalmond;
}

.direction:hover
{
    color:brown;
    background-color:aquamarine;
}

.DAME
{
    color:rgb(88, 222, 117);
}

.POINT
{
    color:rgb(88, 222, 117);
}

.WILFRED
{
    color:rgb(88, 222, 117);
}

.FAIRFAX
{
    color:rgb(88, 222, 117);
}

.MERYLL
{
    color:rgb(88, 222, 117);
}

.ELSIE
{
    color:rgb(88, 222, 117);
}

.CHORUS
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ALL
{
    color:rgb(88, 222, 117);
}



table
{
    border-collapse: collapse;
    text-align: center;
    border: 2px solid red;
    color: red;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    margin: 20px;
  }

tr:nth-child(even) {
    background-color: #b5aeae;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(234, 150, 150);
    width: 25%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(58, 20, 230);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(240, 236, 236);
  }

  img{
    width: 100%;
  }